<footer class="footerTop">

     <div class="container ">
      <div class="col-md-12">
          <p> <b>Note </b>: Dear Parents, Reviewers and Contributors; we at TheSchoolReviewer.com try with utmost sincerity to provide correct data to you. In case, you find something is not working here or something is wrong; please help us by e-mailing what's wrong and what could be done about. Help us to help other people who visit our site seeking information.</p>
          <p>
              Quick Links   <a>About Us</a> 
              
              <a>Contact Us</a>
              <a>Privacy Policy </a> 
              <a>Disclaimer </a> 
              <a>Terms and conditions</a>

          </p>
        </div>
    </div>
   
</footer>
<footer>
    <div class="container">
        <p class="text-center">The School Finder © 2018. All Rights Reserved.</p>
      </div>
</footer>
