<section>
  <div class="container-fluid homepg">
    <div class="row homebg ">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center weltext">
          <h2 class="wtext">Future is Here</h2>
          <!-- <h3 class="schname">The School Finder  </h3> -->
          <p>First step towards your future... </p>
        </div>

      </div>
      <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <app-searchbox></app-searchbox>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <a href class="adsrc  pull-right">Advanced Search Options</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid infoArea">
    <div class="row">
      <div class="container">
          <div class="col-md-8 col-md-offset-2">
              <div class="cibox col-md-4 text-center wow zoomIn" >
                  <div class="cibox-body cibox_yellow">
                      <h4>Find the Best</h4>
                      <p>Easy search options with advance filter to Identify best school near you. </p>
                  </div>
              </div>
              <div class="cibox col-md-4 text-center wow zoomIn" data-wow-delay="0.3s">
                  <div class="cibox-body cibox_green">
                      <h4> Rate & Review</h4>
                      <p> Rate and write the review school you know and earn badges and many more </p>
                    </div>
                </div>
                <div class="cibox col-md-4 text-center wow zoomIn" data-wow-delay="0.6s">
                    <div class="cibox-body cibox_blue">
                        <h4> Help Parents</h4>
                        <p> by rating and writing reviews you are helping other parents to get the best schools. </p>
                      </div>
                  </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid infoArea">
    <div class="row">
      <div class="container">
        <div class="col-md-4 ibox">
          <div class="iboxbody">
            <h3> Top Schools Near You</h3>
            <ul>
              <li class="wow zoomIn" data-wow-delay="0.1s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">BENGALUR INTERNTIONAL (KAN) RINGROD , KHAJA COLONY , KALABURAGI , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.2s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">GLPS BASAVANAPALYA , TAVAREKERE , Bengaluru U SOUTH , Karnataka </span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.4s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">GULPS TAVAREKERE , TAVAREKERE , Bengaluru U SOUTH , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.6s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">M E S CONVENT S P G COLONY , TAVAREKERE , Bengaluru U SOUTH , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.8s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">V.E.S. MODEL CONVENT TAVEREKER , TAVAREKERE , Bengaluru U SOUTH , Karnataka </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 ibox">
          <div class="iboxbody  tsfbox">
            <h3>Recommonded by TSF</h3>
            <ul>
              <li class="wow zoomIn" data-wow-delay="0.1s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">BENGALUR INTERNTIONAL (KAN) RINGROD , KHAJA COLONY , KALABURAGI , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.2s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">GLPS BASAVANAPALYA , TAVAREKERE , Bengaluru U SOUTH , Karnataka </span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.4s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">GULPS TAVAREKERE , TAVAREKERE , Bengaluru U SOUTH , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.6s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">M E S CONVENT S P G COLONY , TAVAREKERE , Bengaluru U SOUTH , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.8s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">V.E.S. MODEL CONVENT TAVEREKER , TAVAREKERE , Bengaluru U SOUTH , Karnataka </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 ibox">
          <div class="iboxbody">
            <h3> Top rated schools near you</h3>
            <ul>
              <li class="wow zoomIn" data-wow-delay="0.1s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">BENGALUR INTERNTIONAL (KAN) RINGROD , KHAJA COLONY , KALABURAGI , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.2s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">GLPS BASAVANAPALYA , TAVAREKERE , Bengaluru U SOUTH , Karnataka </span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.4s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">GULPS TAVAREKERE , TAVAREKERE , Bengaluru U SOUTH , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.6s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">M E S CONVENT S P G COLONY , TAVAREKERE , Bengaluru U SOUTH , Karnataka</span>
                </a>
              </li>
              <li class="wow zoomIn" data-wow-delay="0.8s">
                <a href>
                  <span class="ibxicon">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                  <span class="ibxtxt">V.E.S. MODEL CONVENT TAVEREKER , TAVAREKERE , Bengaluru U SOUTH , Karnataka </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
